
/* BODY */
body{
background-color: #ccccff;
	margin: 2.5% 0 2.5% 0;
}


/* CURSOR */

.menu:hover {
	cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC),auto;
}
body{
	cursor: url("https://assets.awwwards.com/awards/gallery/2017/10/supercursor.png")97 8, auto !important;
	}

/* FONT */
body{
	font-family: 'Roboto Condensed', sans-serif;
	color: #444444;
}

.card-body {
	font-family: 'Roboto Mono';
}


h1 {
	font-family: litania, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 48px;
}

.title{ 
	font-size: 10em;
	overflow: auto;
	color: #fffd98;
}

h2{
	font-size: 30px;
}

h3{
	font-size: 18px;
}

p{
	font-size: 16px;
}

a{
	color: #454ade;
}

a:hover{
	color: #ff6736;
}

/* HEADER */
.color-bar{ 
	width: 100%;
	position: fixed;
    height: 5px;	
    background: linear-gradient(to right, #454ade, #8ae9c1, #fffd98);
}

.fixed-top{ 
	left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

nav{
margin-left:2.5%;
max-height: 70px;
}



/* LAYOUT */

.about {
	float: left;
	width: 30%;
	padding: 2.5%;
	background-image: url("https://thumbs.gfycat.com/OldAjarArmednylonshrimp-max-1mb.gif");
	font-family: 'Roboto Mono', serif;
	color:;
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.menu {
	float: right;
	width: 70%;
	box-shadow: -25px 25px 10px rgba(0, 0, 0, 0.5);
}


/* MENU */
li{
	list-style: square;
	padding: 0 .05em .28em .2em;

}

.menu-text{
	font-size: 120px;
	-webkit-text-stroke: 2px #444; 
	color: transparent;

}

.menu-option-1{
	background: #ff6736;
	-webkit-text-stroke: 2px #fffd98; 
}
.menu-option-2{
	background: #454ade;
	-webkit-text-stroke: 2px #8ae9c1; 
}

.menu-option-1:hover{
	-webkit-text-stroke: 2px #8ae9c1; 
	color: #454ade;
}

.menu-option-2:hover{
	-webkit-text-stroke: 2px #fffd98; 
	color: #ff6736;
}

/* ABOUT */


.feed{
	border-color: #ff6736;
	border-style: solid;

}


/* FOOTER */
.fixed-bottom{ 
	left: 0;
    position: fixed;
    text-align: right;
    bottom: 0;
    width: 100%;
}
